body {
  margin: 0;
  /* font-family: Arial;
  font-size: 1.5rem; */
  /* box-sizing: border-box; */
}

.fullscreen {
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: steelblue;
}

p {
  font-size: 1.5rem;
  line-height: 1.7;
}

main {
  max-width: 55%;
  margin: 80px auto;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

span {
  background-image: linear-gradient(yellow, yellow);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in;
  /* background-color: yellow; */
}

.span-active {
  background-size: 100% 100%;
}

/* nav {
  position: sticky;
  top: 0;
  transition: all 600ms ease-in-out;
  background-color: tan;
  color: white;
}

ul {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  margin-right: 60px;
}

.nav-active {
  background-color: white;
  color: black;
}

p {
  padding-top: 50px;
  margin: 0 auto;
  max-width:
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.panel {
  height: 100vh;
  background-color: beige;
} */

/* .div-1, .div-2 {
  height: 100vh;
}

.div-1 {
  background-color: pink;
}
.div-2 {
  background-color: salmon;
  background-color: inherit;
} */

/* .square {
  width: 150px;
  height: 20vh;
  background-color: fuchsia;
} */

/* .square-2 {
  width: 150px;
  height: 150px;
  background-color: green;
} */

/* .red {
  background-color: red;
} */
